body {
    background-image: url('http://p1.pichost.me/i/37/1601927.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    width: 550px;
    margin: 150px auto;
    text-align: center;
}

.list-input {
    height: 24px;
    width: 544px;
    text-align: center;
    font-size: 24px;
}
.list{
    list-style-type: none;
    padding: 0;
}
h1 {
    margin-top: -17px;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}
.fa-check{
    float: right;
}

. {
    margin-top: 12px;
    height: 24px;
    width: 240px;
    margin-top: 3px;
    padding: 5px 5px 5px 206px;
    list-style: none;
    text-align: center;
}

button {
    height: 25px;
    width: 91px;
    margin-top: 20px;
    background: none;
    font-size: 18px;
    border: 2px solid;
    border-radius: 5px;
    padding: 0 0 4px;
    background-color: grey;
    opacity: .7;
}

.wrap-input {
    text-align: center;
}

.list li {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    background-color: #ffc;
    opacity: .6;
    border-radius: 7px;
    text-align: center;
}

.Checked {
    height: 18px;
}

#delete {
    cursor: pointer;
    float: right;
    margin-top: 3px;
    width: 20px;
    margin-right: 4px;
   
}

.show {
    display: inline;
}

.item{
    margin-top: 5px;
}